/* Sección de cursos */
.cursos {
  background-color: #f8f8f8;
  color: #333;
  text-align: center;
}

/* Título */
.titulo-seccion {
  font-size: 2.8rem;
  margin-bottom: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  color: #222;
}

/* Contenedor de las tarjetas */
.curso-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

/* Tarjetas */
.curso {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  padding: 25px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  text-align: center;
  position: relative;
}

.curso:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

/* Efecto de iluminación al pasar el mouse */
.curso::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 60%;
  height: 5px;
  background: #4CAF50; /* Verde */
  border-radius: 50px;
  transform: translateX(-50%);
  transition: width 0.3s ease-in-out;
}

.curso:hover::before {
  width: 80%;
}

/* Imagen */
.curso-imagen {
  width: 100px; /* Aumentamos el tamaño */
  height: 100px;
  object-fit: contain;
  margin-bottom: 20px;
}

/* Texto */
.curso-info h2 {
  font-size: 1.6rem;
  margin-bottom: 10px;
  font-weight: bold;
  color: #222;
}

.curso-info p {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 20px;
  line-height: 1.5;
}

/* Botón */
.btn-detalles {
  display: inline-block;
  padding: 12px 18px;
  background-color: #4CAF50; /* Verde */
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-size: 1rem;
}

.btn-detalles:hover {
  background-color: #388E3C;
  transform: scale(1.05);
}

.separador-2 {
  width: 80%;
  height: 1px;
  background-color: #e1d4d4;
  margin: 20px auto;
  margin-top: 90px;
}

/* responsive */
@media screen and (max-width: 768px) {
  .curso-lista {
    flex-direction: column;
    align-items: center;
  }
}
